SENTIMENT DATA (JUST FROM 2021)

In [ ]:
"""
import requests

# Replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=AAPL&apikey=WIB4EPEUDA7KJFOG&sort=EARLIEST'

# Optional: Specify the time range
time_from = '20180612T2359'

# Append the time parameters to the URL
url += f'&time_from={time_from}'


# Optional: Specify the result limit
limit = 10
url += f'&limit={limit}'

r = requests.get(url)
data = r.json()

print(data)
"""

INFLATION (FOR ALL DATA WE REQUIRE)

In [1]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=CPI&interval=monthly&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

data

{'name': 'Consumer Price Index for all Urban Consumers',
 'interval': 'monthly',
 'unit': 'index 1982-1984=100',
 'data': [{'date': '2023-04-01', 'value': '303.363'},
  {'date': '2023-03-01', 'value': '301.836'},
  {'date': '2023-02-01', 'value': '300.840'},
  {'date': '2023-01-01', 'value': '299.170'},
  {'date': '2022-12-01', 'value': '296.797'},
  {'date': '2022-11-01', 'value': '297.711'},
  {'date': '2022-10-01', 'value': '298.012'},
  {'date': '2022-09-01', 'value': '296.808'},
  {'date': '2022-08-01', 'value': '296.171'},
  {'date': '2022-07-01', 'value': '296.276'},
  {'date': '2022-06-01', 'value': '296.311'},
  {'date': '2022-05-01', 'value': '292.296'},
  {'date': '2022-04-01', 'value': '289.109'},
  {'date': '2022-03-01', 'value': '287.504'},
  {'date': '2022-02-01', 'value': '283.716'},
  {'date': '2022-01-01', 'value': '281.148'},
  {'date': '2021-12-01', 'value': '278.802'},
  {'date': '2021-11-01', 'value': '277.948'},
  {'date': '2021-10-01', 'value': '276.589'},
  {'date': '2021-09-01', 'value': '274.310'},
  {'date': '2021-08-01', 'value': '273.567'},
  {'date': '2021-07-01', 'value': '273.003'},
  {'date': '2021-06-01', 'value': '271.696'},
  {'date': '2021-05-01', 'value': '269.195'},
  {'date': '2021-04-01', 'value': '267.054'},
  {'date': '2021-03-01', 'value': '264.877'},
  {'date': '2021-02-01', 'value': '263.014'},
  {'date': '2021-01-01', 'value': '261.582'},
  {'date': '2020-12-01', 'value': '260.474'},
  {'date': '2020-11-01', 'value': '260.229'},
  {'date': '2020-10-01', 'value': '260.388'},
  {'date': '2020-09-01', 'value': '260.280'},
  {'date': '2020-08-01', 'value': '259.918'},
  {'date': '2020-07-01', 'value': '259.101'},
  {'date': '2020-06-01', 'value': '257.797'},
  {'date': '2020-05-01', 'value': '256.394'},
  {'date': '2020-04-01', 'value': '256.389'},
  {'date': '2020-03-01', 'value': '258.115'},
  {'date': '2020-02-01', 'value': '258.678'},
  {'date': '2020-01-01', 'value': '257.971'},
  {'date': '2019-12-01', 'value': '256.974'},
  {'date': '2019-11-01', 'value': '257.208'},
  {'date': '2019-10-01', 'value': '257.346'},
  {'date': '2019-09-01', 'value': '256.759'},
  {'date': '2019-08-01', 'value': '256.558'},
  {'date': '2019-07-01', 'value': '256.571'},
  {'date': '2019-06-01', 'value': '256.143'},
  {'date': '2019-05-01', 'value': '256.092'},
  {'date': '2019-04-01', 'value': '255.548'},
  {'date': '2019-03-01', 'value': '254.202'},
  {'date': '2019-02-01', 'value': '252.776'},
  {'date': '2019-01-01', 'value': '251.712'},
  {'date': '2018-12-01', 'value': '251.233'},
  {'date': '2018-11-01', 'value': '252.038'},
  {'date': '2018-10-01', 'value': '252.885'},
  {'date': '2018-09-01', 'value': '252.439'},
  {'date': '2018-08-01', 'value': '252.146'},
  {'date': '2018-07-01', 'value': '252.006'},
  {'date': '2018-06-01', 'value': '251.989'},
  {'date': '2018-05-01', 'value': '251.588'},
  {'date': '2018-04-01', 'value': '250.546'},
  {'date': '2018-03-01', 'value': '249.554'},
  {'date': '2018-02-01', 'value': '248.991'},
  {'date': '2018-01-01', 'value': '247.867'},
  {'date': '2017-12-01', 'value': '246.524'},
  {'date': '2017-11-01', 'value': '246.669'},
  {'date': '2017-10-01', 'value': '246.663'},
  {'date': '2017-09-01', 'value': '246.819'},
  {'date': '2017-08-01', 'value': '245.519'},
  {'date': '2017-07-01', 'value': '244.786'},
  {'date': '2017-06-01', 'value': '244.955'},
  {'date': '2017-05-01', 'value': '244.733'},
  {'date': '2017-04-01', 'value': '244.524'},
  {'date': '2017-03-01', 'value': '243.801'},
  {'date': '2017-02-01', 'value': '243.603'},
  {'date': '2017-01-01', 'value': '242.839'},
  {'date': '2016-12-01', 'value': '241.432'},
  {'date': '2016-11-01', 'value': '241.353'},
  {'date': '2016-10-01', 'value': '241.729'},
  {'date': '2016-09-01', 'value': '241.428'},
  {'date': '2016-08-01', 'value': '240.849'},
  {'date': '2016-07-01', 'value': '240.628'},
  {'date': '2016-06-01', 'value': '241.018'},
  {'date': '2016-05-01', 'value': '240.229'},
  {'date': '2016-04-01', 'value': '239.261'},
  {'date': '2016-03-01', 'value': '238.132'},
  {'date': '2016-02-01', 'value': '237.111'},
  {'date': '2016-01-01', 'value': '236.916'},
  {'date': '2015-12-01', 'value': '236.525'},
  {'date': '2015-11-01', 'value': '237.336'},
  {'date': '2015-10-01', 'value': '237.838'},
  {'date': '2015-09-01', 'value': '237.945'},
  {'date': '2015-08-01', 'value': '238.316'},
  {'date': '2015-07-01', 'value': '238.654'},
  {'date': '2015-06-01', 'value': '238.638'},
  {'date': '2015-05-01', 'value': '237.805'},
  {'date': '2015-04-01', 'value': '236.599'},
  {'date': '2015-03-01', 'value': '236.119'},
  {'date': '2015-02-01', 'value': '234.722'},
  {'date': '2015-01-01', 'value': '233.707'},
  {'date': '2014-12-01', 'value': '234.812'},
  {'date': '2014-11-01', 'value': '236.151'},
  {'date': '2014-10-01', 'value': '237.433'},
  {'date': '2014-09-01', 'value': '238.031'},
  {'date': '2014-08-01', 'value': '237.852'},
  {'date': '2014-07-01', 'value': '238.250'},
  {'date': '2014-06-01', 'value': '238.343'},
  {'date': '2014-05-01', 'value': '237.900'},
  {'date': '2014-04-01', 'value': '237.072'},
  {'date': '2014-03-01', 'value': '236.293'},
  {'date': '2014-02-01', 'value': '234.781'},
  {'date': '2014-01-01', 'value': '233.916'},
  {'date': '2013-12-01', 'value': '233.049'},
  {'date': '2013-11-01', 'value': '233.069'},
  {'date': '2013-10-01', 'value': '233.546'},
  {'date': '2013-09-01', 'value': '234.149'},
  {'date': '2013-08-01', 'value': '233.877'},
  {'date': '2013-07-01', 'value': '233.596'},
  {'date': '2013-06-01', 'value': '233.504'},
  {'date': '2013-05-01', 'value': '232.945'},
  {'date': '2013-04-01', 'value': '232.531'},
  {'date': '2013-03-01', 'value': '232.773'},
  {'date': '2013-02-01', 'value': '232.166'},
  {'date': '2013-01-01', 'value': '230.280'},
  {'date': '2012-12-01', 'value': '229.601'},
  {'date': '2012-11-01', 'value': '230.221'},
  {'date': '2012-10-01', 'value': '231.317'},
  {'date': '2012-09-01', 'value': '231.407'},
  {'date': '2012-08-01', 'value': '230.379'},
  {'date': '2012-07-01', 'value': '229.104'},
  {'date': '2012-06-01', 'value': '229.478'},
  {'date': '2012-05-01', 'value': '229.815'},
  {'date': '2012-04-01', 'value': '230.085'},
  {'date': '2012-03-01', 'value': '229.392'},
  {'date': '2012-02-01', 'value': '227.663'},
  {'date': '2012-01-01', 'value': '226.665'},
  {'date': '2011-12-01', 'value': '225.672'},
  {'date': '2011-11-01', 'value': '226.230'},
  {'date': '2011-10-01', 'value': '226.421'},
  {'date': '2011-09-01', 'value': '226.889'},
  {'date': '2011-08-01', 'value': '226.545'},
  {'date': '2011-07-01', 'value': '225.922'},
  {'date': '2011-06-01', 'value': '225.722'},
  {'date': '2011-05-01', 'value': '225.964'},
  {'date': '2011-04-01', 'value': '224.906'},
  {'date': '2011-03-01', 'value': '223.467'},
  {'date': '2011-02-01', 'value': '221.309'},
  {'date': '2011-01-01', 'value': '220.223'},
  {'date': '2010-12-01', 'value': '219.179'},
  {'date': '2010-11-01', 'value': '218.803'},
  {'date': '2010-10-01', 'value': '218.711'},
  {'date': '2010-09-01', 'value': '218.439'},
  {'date': '2010-08-01', 'value': '218.312'},
  {'date': '2010-07-01', 'value': '218.011'},
  {'date': '2010-06-01', 'value': '217.965'},
  {'date': '2010-05-01', 'value': '218.178'},
  {'date': '2010-04-01', 'value': '218.009'},
  {'date': '2010-03-01', 'value': '217.631'},
  {'date': '2010-02-01', 'value': '216.741'},
  {'date': '2010-01-01', 'value': '216.687'},
  {'date': '2009-12-01', 'value': '215.949'},
  {'date': '2009-11-01', 'value': '216.330'},
  {'date': '2009-10-01', 'value': '216.177'},
  {'date': '2009-09-01', 'value': '215.969'},
  {'date': '2009-08-01', 'value': '215.834'},
  {'date': '2009-07-01', 'value': '215.351'},
  {'date': '2009-06-01', 'value': '215.693'},
  {'date': '2009-05-01', 'value': '213.856'},
  {'date': '2009-04-01', 'value': '213.240'},
  {'date': '2009-03-01', 'value': '212.709'},
  {'date': '2009-02-01', 'value': '212.193'},
  {'date': '2009-01-01', 'value': '211.143'},
  {'date': '2008-12-01', 'value': '210.228'},
  {'date': '2008-11-01', 'value': '212.425'},
  {'date': '2008-10-01', 'value': '216.573'},
  {'date': '2008-09-01', 'value': '218.783'},
  {'date': '2008-08-01', 'value': '219.086'},
  {'date': '2008-07-01', 'value': '219.964'},
  {'date': '2008-06-01', 'value': '218.815'},
  {'date': '2008-05-01', 'value': '216.632'},
  {'date': '2008-04-01', 'value': '214.823'},
  {'date': '2008-03-01', 'value': '213.528'},
  {'date': '2008-02-01', 'value': '211.693'},
  {'date': '2008-01-01', 'value': '211.080'},
  {'date': '2007-12-01', 'value': '210.036'},
  {'date': '2007-11-01', 'value': '210.177'},
  {'date': '2007-10-01', 'value': '208.936'},
  {'date': '2007-09-01', 'value': '208.490'},
  {'date': '2007-08-01', 'value': '207.917'},
  {'date': '2007-07-01', 'value': '208.299'},
  {'date': '2007-06-01', 'value': '208.352'},
  {'date': '2007-05-01', 'value': '207.949'},
  {'date': '2007-04-01', 'value': '206.686'},
  {'date': '2007-03-01', 'value': '205.352'},
  {'date': '2007-02-01', 'value': '203.499'},
  {'date': '2007-01-01', 'value': '202.416'},
  {'date': '2006-12-01', 'value': '201.8'},
  {'date': '2006-11-01', 'value': '201.5'},
  {'date': '2006-10-01', 'value': '201.8'},
  {'date': '2006-09-01', 'value': '202.9'},
  {'date': '2006-08-01', 'value': '203.9'},
  {'date': '2006-07-01', 'value': '203.5'},
  {'date': '2006-06-01', 'value': '202.9'},
  {'date': '2006-05-01', 'value': '202.5'},
  {'date': '2006-04-01', 'value': '201.5'},
  {'date': '2006-03-01', 'value': '199.8'},
  {'date': '2006-02-01', 'value': '198.7'},
  {'date': '2006-01-01', 'value': '198.3'},
  {'date': '2005-12-01', 'value': '196.8'},
  {'date': '2005-11-01', 'value': '197.6'},
  {'date': '2005-10-01', 'value': '199.2'},
  {'date': '2005-09-01', 'value': '198.8'},
  {'date': '2005-08-01', 'value': '196.4'},
  {'date': '2005-07-01', 'value': '195.4'},
  {'date': '2005-06-01', 'value': '194.5'},
  {'date': '2005-05-01', 'value': '194.4'},
  {'date': '2005-04-01', 'value': '194.6'},
  {'date': '2005-03-01', 'value': '193.3'},
  {'date': '2005-02-01', 'value': '191.8'},
  {'date': '2005-01-01', 'value': '190.7'},
  {'date': '2004-12-01', 'value': '190.3'},
  {'date': '2004-11-01', 'value': '191.0'},
  {'date': '2004-10-01', 'value': '190.9'},
  {'date': '2004-09-01', 'value': '189.9'},
  {'date': '2004-08-01', 'value': '189.5'},
  {'date': '2004-07-01', 'value': '189.4'},
  {'date': '2004-06-01', 'value': '189.7'},
  {'date': '2004-05-01', 'value': '189.1'},
  {'date': '2004-04-01', 'value': '188.0'},
  {'date': '2004-03-01', 'value': '187.4'},
  {'date': '2004-02-01', 'value': '186.2'},
  {'date': '2004-01-01', 'value': '185.2'},
  {'date': '2003-12-01', 'value': '184.3'},
  {'date': '2003-11-01', 'value': '184.5'},
  {'date': '2003-10-01', 'value': '185.0'},
  {'date': '2003-09-01', 'value': '185.2'},
  {'date': '2003-08-01', 'value': '184.6'},
  {'date': '2003-07-01', 'value': '183.9'},
  {'date': '2003-06-01', 'value': '183.7'},
  {'date': '2003-05-01', 'value': '183.5'},
  {'date': '2003-04-01', 'value': '183.8'},
  {'date': '2003-03-01', 'value': '184.2'},
  {'date': '2003-02-01', 'value': '183.1'},
  {'date': '2003-01-01', 'value': '181.7'},
  {'date': '2002-12-01', 'value': '180.9'},
  {'date': '2002-11-01', 'value': '181.3'},
  {'date': '2002-10-01', 'value': '181.3'},
  {'date': '2002-09-01', 'value': '181.0'},
  {'date': '2002-08-01', 'value': '180.7'},
  {'date': '2002-07-01', 'value': '180.1'},
  {'date': '2002-06-01', 'value': '179.9'},
  {'date': '2002-05-01', 'value': '179.8'},
  {'date': '2002-04-01', 'value': '179.8'},
  {'date': '2002-03-01', 'value': '178.8'},
  {'date': '2002-02-01', 'value': '177.8'},
  {'date': '2002-01-01', 'value': '177.1'},
  {'date': '2001-12-01', 'value': '176.7'},
  {'date': '2001-11-01', 'value': '177.4'},
  {'date': '2001-10-01', 'value': '177.7'},
  {'date': '2001-09-01', 'value': '178.3'},
  {'date': '2001-08-01', 'value': '177.5'},
  {'date': '2001-07-01', 'value': '177.5'},
  {'date': '2001-06-01', 'value': '178.0'},
  {'date': '2001-05-01', 'value': '177.7'},
  {'date': '2001-04-01', 'value': '176.9'},
  {'date': '2001-03-01', 'value': '176.2'},
  {'date': '2001-02-01', 'value': '175.8'},
  {'date': '2001-01-01', 'value': '175.1'},
  {'date': '2000-12-01', 'value': '174.0'},
  {'date': '2000-11-01', 'value': '174.1'},
  {'date': '2000-10-01', 'value': '174.0'},
  {'date': '2000-09-01', 'value': '173.7'},
  {'date': '2000-08-01', 'value': '172.8'},
  {'date': '2000-07-01', 'value': '172.8'},
  {'date': '2000-06-01', 'value': '172.4'},
  {'date': '2000-05-01', 'value': '171.5'},
  {'date': '2000-04-01', 'value': '171.3'},
  {'date': '2000-03-01', 'value': '171.2'},
  {'date': '2000-02-01', 'value': '169.8'},
  {'date': '2000-01-01', 'value': '168.8'},
  {'date': '1999-12-01', 'value': '168.3'},
  {'date': '1999-11-01', 'value': '168.3'},
  {'date': '1999-10-01', 'value': '168.2'},
  {'date': '1999-09-01', 'value': '167.9'},
  {'date': '1999-08-01', 'value': '167.1'},
  {'date': '1999-07-01', 'value': '166.7'},
  {'date': '1999-06-01', 'value': '166.2'},
  {'date': '1999-05-01', 'value': '166.2'},
  {'date': '1999-04-01', 'value': '166.2'},
  {'date': '1999-03-01', 'value': '165.0'},
  {'date': '1999-02-01', 'value': '164.5'},
  {'date': '1999-01-01', 'value': '164.3'},
  {'date': '1998-12-01', 'value': '163.9'},
  {'date': '1998-11-01', 'value': '164.0'},
  {'date': '1998-10-01', 'value': '164.0'},
  {'date': '1998-09-01', 'value': '163.6'},
  {'date': '1998-08-01', 'value': '163.4'},
  {'date': '1998-07-01', 'value': '163.2'},
  {'date': '1998-06-01', 'value': '163.0'},
  {'date': '1998-05-01', 'value': '162.8'},
  {'date': '1998-04-01', 'value': '162.5'},
  {'date': '1998-03-01', 'value': '162.2'},
  {'date': '1998-02-01', 'value': '161.9'},
  {'date': '1998-01-01', 'value': '161.6'},
  {'date': '1997-12-01', 'value': '161.3'},
  {'date': '1997-11-01', 'value': '161.5'},
  {'date': '1997-10-01', 'value': '161.6'},
  {'date': '1997-09-01', 'value': '161.2'},
  {'date': '1997-08-01', 'value': '160.8'},
  {'date': '1997-07-01', 'value': '160.5'},
  {'date': '1997-06-01', 'value': '160.3'},
  {'date': '1997-05-01', 'value': '160.1'},
  {'date': '1997-04-01', 'value': '160.2'},
  {'date': '1997-03-01', 'value': '160.0'},
  {'date': '1997-02-01', 'value': '159.6'},
  {'date': '1997-01-01', 'value': '159.1'},
  {'date': '1996-12-01', 'value': '158.6'},
  {'date': '1996-11-01', 'value': '158.6'},
  {'date': '1996-10-01', 'value': '158.3'},
  {'date': '1996-09-01', 'value': '157.8'},
  {'date': '1996-08-01', 'value': '157.3'},
  {'date': '1996-07-01', 'value': '157.0'},
  {'date': '1996-06-01', 'value': '156.7'},
  {'date': '1996-05-01', 'value': '156.6'},
  {'date': '1996-04-01', 'value': '156.3'},
  {'date': '1996-03-01', 'value': '155.7'},
  {'date': '1996-02-01', 'value': '154.9'},
  {'date': '1996-01-01', 'value': '154.4'},
  {'date': '1995-12-01', 'value': '153.5'},
  {'date': '1995-11-01', 'value': '153.6'},
  {'date': '1995-10-01', 'value': '153.7'},
  {'date': '1995-09-01', 'value': '153.2'},
  {'date': '1995-08-01', 'value': '152.9'},
  {'date': '1995-07-01', 'value': '152.5'},
  {'date': '1995-06-01', 'value': '152.5'},
  {'date': '1995-05-01', 'value': '152.2'},
  {'date': '1995-04-01', 'value': '151.9'},
  {'date': '1995-03-01', 'value': '151.4'},
  {'date': '1995-02-01', 'value': '150.9'},
  {'date': '1995-01-01', 'value': '150.3'},
  {'date': '1994-12-01', 'value': '149.7'},
  {'date': '1994-11-01', 'value': '149.7'},
  {'date': '1994-10-01', 'value': '149.5'},
  {'date': '1994-09-01', 'value': '149.4'},
  {'date': '1994-08-01', 'value': '149.0'},
  {'date': '1994-07-01', 'value': '148.4'},
  {'date': '1994-06-01', 'value': '148.0'},
  {'date': '1994-05-01', 'value': '147.5'},
  {'date': '1994-04-01', 'value': '147.4'},
  {'date': '1994-03-01', 'value': '147.2'},
  {'date': '1994-02-01', 'value': '146.7'},
  {'date': '1994-01-01', 'value': '146.2'},
  {'date': '1993-12-01', 'value': '145.8'},
  {'date': '1993-11-01', 'value': '145.8'},
  {'date': '1993-10-01', 'value': '145.7'},
  {'date': '1993-09-01', 'value': '145.1'},
  {'date': '1993-08-01', 'value': '144.8'},
  {'date': '1993-07-01', 'value': '144.4'},
  {'date': '1993-06-01', 'value': '144.4'},
  {'date': '1993-05-01', 'value': '144.2'},
  {'date': '1993-04-01', 'value': '144.0'},
  {'date': '1993-03-01', 'value': '143.6'},
  {'date': '1993-02-01', 'value': '143.1'},
  {'date': '1993-01-01', 'value': '142.6'},
  {'date': '1992-12-01', 'value': '141.9'},
  {'date': '1992-11-01', 'value': '142.0'},
  {'date': '1992-10-01', 'value': '141.8'},
  {'date': '1992-09-01', 'value': '141.3'},
  {'date': '1992-08-01', 'value': '140.9'},
  {'date': '1992-07-01', 'value': '140.5'},
  {'date': '1992-06-01', 'value': '140.2'},
  {'date': '1992-05-01', 'value': '139.7'},
  {'date': '1992-04-01', 'value': '139.5'},
  {'date': '1992-03-01', 'value': '139.3'},
  {'date': '1992-02-01', 'value': '138.6'},
  {'date': '1992-01-01', 'value': '138.1'},
  {'date': '1991-12-01', 'value': '137.9'},
  {'date': '1991-11-01', 'value': '137.8'},
  {'date': '1991-10-01', 'value': '137.4'},
  {'date': '1991-09-01', 'value': '137.2'},
  {'date': '1991-08-01', 'value': '136.6'},
  {'date': '1991-07-01', 'value': '136.2'},
  {'date': '1991-06-01', 'value': '136.0'},
  {'date': '1991-05-01', 'value': '135.6'},
  {'date': '1991-04-01', 'value': '135.2'},
  {'date': '1991-03-01', 'value': '135.0'},
  {'date': '1991-02-01', 'value': '134.8'},
  {'date': '1991-01-01', 'value': '134.6'},
  {'date': '1990-12-01', 'value': '133.8'},
  {'date': '1990-11-01', 'value': '133.8'},
  {'date': '1990-10-01', 'value': '133.5'},
  {'date': '1990-09-01', 'value': '132.7'},
  {'date': '1990-08-01', 'value': '131.6'},
  {'date': '1990-07-01', 'value': '130.4'},
  {'date': '1990-06-01', 'value': '129.9'},
  {'date': '1990-05-01', 'value': '129.2'},
  {'date': '1990-04-01', 'value': '128.9'},
  {'date': '1990-03-01', 'value': '128.7'},
  {'date': '1990-02-01', 'value': '128.0'},
  {'date': '1990-01-01', 'value': '127.4'},
  {'date': '1989-12-01', 'value': '126.1'},
  {'date': '1989-11-01', 'value': '125.9'},
  {'date': '1989-10-01', 'value': '125.6'},
  {'date': '1989-09-01', 'value': '125.0'},
  {'date': '1989-08-01', 'value': '124.6'},
  {'date': '1989-07-01', 'value': '124.4'},
  {'date': '1989-06-01', 'value': '124.1'},
  {'date': '1989-05-01', 'value': '123.8'},
  {'date': '1989-04-01', 'value': '123.1'},
  {'date': '1989-03-01', 'value': '122.3'},
  {'date': '1989-02-01', 'value': '121.6'},
  {'date': '1989-01-01', 'value': '121.1'},
  {'date': '1988-12-01', 'value': '120.5'},
  {'date': '1988-11-01', 'value': '120.3'},
  {'date': '1988-10-01', 'value': '120.2'},
  {'date': '1988-09-01', 'value': '119.8'},
  {'date': '1988-08-01', 'value': '119.0'},
  {'date': '1988-07-01', 'value': '118.5'},
  {'date': '1988-06-01', 'value': '118.0'},
  {'date': '1988-05-01', 'value': '117.5'},
  {'date': '1988-04-01', 'value': '117.1'},
  {'date': '1988-03-01', 'value': '116.5'},
  {'date': '1988-02-01', 'value': '116.0'},
  {'date': '1988-01-01', 'value': '115.7'},
  {'date': '1987-12-01', 'value': '115.4'},
  {'date': '1987-11-01', 'value': '115.4'},
  {'date': '1987-10-01', 'value': '115.3'},
  {'date': '1987-09-01', 'value': '115.0'},
  {'date': '1987-08-01', 'value': '114.4'},
  {'date': '1987-07-01', 'value': '113.8'},
  {'date': '1987-06-01', 'value': '113.5'},
  {'date': '1987-05-01', 'value': '113.1'},
  {'date': '1987-04-01', 'value': '112.7'},
  {'date': '1987-03-01', 'value': '112.1'},
  {'date': '1987-02-01', 'value': '111.6'},
  {'date': '1987-01-01', 'value': '111.2'},
  {'date': '1986-12-01', 'value': '110.5'},
  {'date': '1986-11-01', 'value': '110.4'},
  {'date': '1986-10-01', 'value': '110.3'},
  {'date': '1986-09-01', 'value': '110.2'},
  {'date': '1986-08-01', 'value': '109.7'},
  {'date': '1986-07-01', 'value': '109.5'},

In [2]:
import pandas as pd
import json
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=CPI&interval=monthly&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data_str = r.text

# Parse the string into a dictionary
data = json.loads(data_str)

df_CPI = pd.DataFrame(data['data'])
df_CPI.rename(columns={'date': 'Date'}, inplace=True)
df_CPI.rename(columns={'value': 'CPI'}, inplace=True)
df_CPI = df_CPI[df_CPI['Date'] >= '2018-06-12']
df_CPI = df_CPI.sort_values(by='Date',ascending=True)
df_CPI.reset_index(drop=True, inplace=True)
df_CPI

          Date      CPI
0   2018-07-01  252.006
1   2018-08-01  252.146
2   2018-09-01  252.439
3   2018-10-01  252.885
4   2018-11-01  252.038
5   2018-12-01  251.233
6   2019-01-01  251.712
7   2019-02-01  252.776
8   2019-03-01  254.202
9   2019-04-01  255.548
10  2019-05-01  256.092
11  2019-06-01  256.143
12  2019-07-01  256.571
13  2019-08-01  256.558
14  2019-09-01  256.759
15  2019-10-01  257.346
16  2019-11-01  257.208
17  2019-12-01  256.974
18  2020-01-01  257.971
19  2020-02-01  258.678
20  2020-03-01  258.115
21  2020-04-01  256.389
22  2020-05-01  256.394
23  2020-06-01  257.797
24  2020-07-01  259.101
25  2020-08-01  259.918
26  2020-09-01  260.280
27  2020-10-01  260.388
28  2020-11-01  260.229
29  2020-12-01  260.474
30  2021-01-01  261.582
31  2021-02-01  263.014
32  2021-03-01  264.877
33  2021-04-01  267.054
34  2021-05-01  269.195
35  2021-06-01  271.696
36  2021-07-01  273.003
37  2021-08-01  273.567
38  2021-09-01  274.310
39  2021-10-01  276.589
40  2021-11-01  277.948
41  2021-12-01  278.802
42  2022-01-01  281.148
43  2022-02-01  283.716
44  2022-03-01  287.504
45  2022-04-01  289.109
46  2022-05-01  292.296
47  2022-06-01  296.311
48  2022-07-01  296.276
49  2022-08-01  296.171
50  2022-09-01  296.808
51  2022-10-01  298.012
52  2022-11-01  297.711
53  2022-12-01  296.797
54  2023-01-01  299.170
55  2023-02-01  300.840
56  2023-03-01  301.836
57  2023-04-01  303.363

FEDERAL FUNDS (INTEREST) RATE (FOR ALL DATA WE REQUIRE)

In [3]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

data

{'name': 'Effective Federal Funds Rate',
 'interval': 'daily',
 'unit': 'percent',
 'data': [{'date': '2023-06-07', 'value': '5.08'},
  {'date': '2023-06-06', 'value': '5.08'},
  {'date': '2023-06-05', 'value': '5.08'},
  {'date': '2023-06-04', 'value': '5.08'},
  {'date': '2023-06-03', 'value': '5.08'},
  {'date': '2023-06-02', 'value': '5.08'},
  {'date': '2023-06-01', 'value': '5.08'},
  {'date': '2023-05-31', 'value': '5.08'},
  {'date': '2023-05-30', 'value': '5.08'},
  {'date': '2023-05-29', 'value': '5.08'},
  {'date': '2023-05-28', 'value': '5.08'},
  {'date': '2023-05-27', 'value': '5.08'},
  {'date': '2023-05-26', 'value': '5.08'},
  {'date': '2023-05-25', 'value': '5.08'},
  {'date': '2023-05-24', 'value': '5.08'},
  {'date': '2023-05-23', 'value': '5.08'},
  {'date': '2023-05-22', 'value': '5.08'},
  {'date': '2023-05-21', 'value': '5.08'},
  {'date': '2023-05-20', 'value': '5.08'},
  {'date': '2023-05-19', 'value': '5.08'},
  {'date': '2023-05-18', 'value': '5.08'},
  {'date': '2023-05-17', 'value': '5.08'},
  {'date': '2023-05-16', 'value': '5.08'},
  {'date': '2023-05-15', 'value': '5.08'},
  {'date': '2023-05-14', 'value': '5.08'},
  {'date': '2023-05-13', 'value': '5.08'},
  {'date': '2023-05-12', 'value': '5.08'},
  {'date': '2023-05-11', 'value': '5.08'},
  {'date': '2023-05-10', 'value': '5.08'},
  {'date': '2023-05-09', 'value': '5.08'},
  {'date': '2023-05-08', 'value': '5.08'},
  {'date': '2023-05-07', 'value': '5.08'},
  {'date': '2023-05-06', 'value': '5.08'},
  {'date': '2023-05-05', 'value': '5.08'},
  {'date': '2023-05-04', 'value': '5.08'},
  {'date': '2023-05-03', 'value': '4.83'},
  {'date': '2023-05-02', 'value': '4.83'},
  {'date': '2023-05-01', 'value': '4.83'},
  {'date': '2023-04-30', 'value': '4.83'},
  {'date': '2023-04-29', 'value': '4.83'},
  {'date': '2023-04-28', 'value': '4.83'},
  {'date': '2023-04-27', 'value': '4.83'},
  {'date': '2023-04-26', 'value': '4.83'},
  {'date': '2023-04-25', 'value': '4.83'},
  {'date': '2023-04-24', 'value': '4.83'},
  {'date': '2023-04-23', 'value': '4.83'},
  {'date': '2023-04-22', 'value': '4.83'},
  {'date': '2023-04-21', 'value': '4.83'},
  {'date': '2023-04-20', 'value': '4.83'},
  {'date': '2023-04-19', 'value': '4.83'},
  {'date': '2023-04-18', 'value': '4.83'},
  {'date': '2023-04-17', 'value': '4.83'},
  {'date': '2023-04-16', 'value': '4.83'},
  {'date': '2023-04-15', 'value': '4.83'},
  {'date': '2023-04-14', 'value': '4.83'},
  {'date': '2023-04-13', 'value': '4.83'},
  {'date': '2023-04-12', 'value': '4.83'},
  {'date': '2023-04-11', 'value': '4.83'},
  {'date': '2023-04-10', 'value': '4.83'},
  {'date': '2023-04-09', 'value': '4.83'},
  {'date': '2023-04-08', 'value': '4.83'},
  {'date': '2023-04-07', 'value': '4.83'},
  {'date': '2023-04-06', 'value': '4.83'},
  {'date': '2023-04-05', 'value': '4.83'},
  {'date': '2023-04-04', 'value': '4.83'},
  {'date': '2023-04-03', 'value': '4.83'},
  {'date': '2023-04-02', 'value': '4.83'},
  {'date': '2023-04-01', 'value': '4.83'},
  {'date': '2023-03-31', 'value': '4.83'},
  {'date': '2023-03-30', 'value': '4.83'},
  {'date': '2023-03-29', 'value': '4.83'},
  {'date': '2023-03-28', 'value': '4.83'},
  {'date': '2023-03-27', 'value': '4.83'},
  {'date': '2023-03-26', 'value': '4.83'},
  {'date': '2023-03-25', 'value': '4.83'},
  {'date': '2023-03-24', 'value': '4.83'},
  {'date': '2023-03-23', 'value': '4.83'},
  {'date': '2023-03-22', 'value': '4.58'},
  {'date': '2023-03-21', 'value': '4.58'},
  {'date': '2023-03-20', 'value': '4.58'},
  {'date': '2023-03-19', 'value': '4.58'},
  {'date': '2023-03-18', 'value': '4.58'},
  {'date': '2023-03-17', 'value': '4.58'},
  {'date': '2023-03-16', 'value': '4.58'},
  {'date': '2023-03-15', 'value': '4.58'},
  {'date': '2023-03-14', 'value': '4.58'},
  {'date': '2023-03-13', 'value': '4.58'},
  {'date': '2023-03-12', 'value': '4.57'},
  {'date': '2023-03-11', 'value': '4.57'},
  {'date': '2023-03-10', 'value': '4.57'},
  {'date': '2023-03-09', 'value': '4.57'},
  {'date': '2023-03-08', 'value': '4.57'},
  {'date': '2023-03-07', 'value': '4.57'},
  {'date': '2023-03-06', 'value': '4.57'},
  {'date': '2023-03-05', 'value': '4.57'},
  {'date': '2023-03-04', 'value': '4.57'},
  {'date': '2023-03-03', 'value': '4.57'},
  {'date': '2023-03-02', 'value': '4.57'},
  {'date': '2023-03-01', 'value': '4.58'},
  {'date': '2023-02-28', 'value': '4.57'},
  {'date': '2023-02-27', 'value': '4.57'},
  {'date': '2023-02-26', 'value': '4.58'},
  {'date': '2023-02-25', 'value': '4.58'},
  {'date': '2023-02-24', 'value': '4.58'},
  {'date': '2023-02-23', 'value': '4.58'},
  {'date': '2023-02-22', 'value': '4.58'},
  {'date': '2023-02-21', 'value': '4.58'},
  {'date': '2023-02-20', 'value': '4.58'},
  {'date': '2023-02-19', 'value': '4.58'},
  {'date': '2023-02-18', 'value': '4.58'},
  {'date': '2023-02-17', 'value': '4.58'},
  {'date': '2023-02-16', 'value': '4.58'},
  {'date': '2023-02-15', 'value': '4.58'},
  {'date': '2023-02-14', 'value': '4.58'},
  {'date': '2023-02-13', 'value': '4.58'},
  {'date': '2023-02-12', 'value': '4.58'},
  {'date': '2023-02-11', 'value': '4.58'},
  {'date': '2023-02-10', 'value': '4.58'},
  {'date': '2023-02-09', 'value': '4.57'},
  {'date': '2023-02-08', 'value': '4.58'},
  {'date': '2023-02-07', 'value': '4.58'},
  {'date': '2023-02-06', 'value': '4.58'},
  {'date': '2023-02-05', 'value': '4.58'},
  {'date': '2023-02-04', 'value': '4.58'},
  {'date': '2023-02-03', 'value': '4.58'},
  {'date': '2023-02-02', 'value': '4.58'},
  {'date': '2023-02-01', 'value': '4.33'},
  {'date': '2023-01-31', 'value': '4.33'},
  {'date': '2023-01-30', 'value': '4.33'},
  {'date': '2023-01-29', 'value': '4.33'},
  {'date': '2023-01-28', 'value': '4.33'},
  {'date': '2023-01-27', 'value': '4.33'},
  {'date': '2023-01-26', 'value': '4.33'},
  {'date': '2023-01-25', 'value': '4.33'},
  {'date': '2023-01-24', 'value': '4.33'},
  {'date': '2023-01-23', 'value': '4.33'},
  {'date': '2023-01-22', 'value': '4.33'},
  {'date': '2023-01-21', 'value': '4.33'},
  {'date': '2023-01-20', 'value': '4.33'},
  {'date': '2023-01-19', 'value': '4.33'},
  {'date': '2023-01-18', 'value': '4.33'},
  {'date': '2023-01-17', 'value': '4.33'},
  {'date': '2023-01-16', 'value': '4.33'},
  {'date': '2023-01-15', 'value': '4.33'},
  {'date': '2023-01-14', 'value': '4.33'},
  {'date': '2023-01-13', 'value': '4.33'},
  {'date': '2023-01-12', 'value': '4.33'},
  {'date': '2023-01-11', 'value': '4.33'},
  {'date': '2023-01-10', 'value': '4.33'},
  {'date': '2023-01-09', 'value': '4.33'},
  {'date': '2023-01-08', 'value': '4.33'},
  {'date': '2023-01-07', 'value': '4.33'},
  {'date': '2023-01-06', 'value': '4.33'},
  {'date': '2023-01-05', 'value': '4.33'},
  {'date': '2023-01-04', 'value': '4.33'},
  {'date': '2023-01-03', 'value': '4.33'},
  {'date': '2023-01-02', 'value': '4.33'},
  {'date': '2023-01-01', 'value': '4.33'},
  {'date': '2022-12-31', 'value': '4.33'},
  {'date': '2022-12-30', 'value': '4.33'},
  {'date': '2022-12-29', 'value': '4.33'},
  {'date': '2022-12-28', 'value': '4.33'},
  {'date': '2022-12-27', 'value': '4.33'},
  {'date': '2022-12-26', 'value': '4.33'},
  {'date': '2022-12-25', 'value': '4.33'},
  {'date': '2022-12-24', 'value': '4.33'},
  {'date': '2022-12-23', 'value': '4.33'},
  {'date': '2022-12-22', 'value': '4.33'},
  {'date': '2022-12-21', 'value': '4.33'},
  {'date': '2022-12-20', 'value': '4.33'},
  {'date': '2022-12-19', 'value': '4.33'},
  {'date': '2022-12-18', 'value': '4.33'},
  {'date': '2022-12-17', 'value': '4.33'},
  {'date': '2022-12-16', 'value': '4.33'},
  {'date': '2022-12-15', 'value': '4.33'},
  {'date': '2022-12-14', 'value': '3.83'},
  {'date': '2022-12-13', 'value': '3.83'},
  {'date': '2022-12-12', 'value': '3.83'},
  {'date': '2022-12-11', 'value': '3.83'},
  {'date': '2022-12-10', 'value': '3.83'},
  {'date': '2022-12-09', 'value': '3.83'},
  {'date': '2022-12-08', 'value': '3.83'},
  {'date': '2022-12-07', 'value': '3.83'},
  {'date': '2022-12-06', 'value': '3.83'},
  {'date': '2022-12-05', 'value': '3.83'},
  {'date': '2022-12-04', 'value': '3.83'},
  {'date': '2022-12-03', 'value': '3.83'},
  {'date': '2022-12-02', 'value': '3.83'},
  {'date': '2022-12-01', 'value': '3.83'},
  {'date': '2022-11-30', 'value': '3.83'},
  {'date': '2022-11-29', 'value': '3.83'},
  {'date': '2022-11-28', 'value': '3.83'},
  {'date': '2022-11-27', 'value': '3.83'},
  {'date': '2022-11-26', 'value': '3.83'},
  {'date': '2022-11-25', 'value': '3.83'},
  {'date': '2022-11-24', 'value': '3.83'},
  {'date': '2022-11-23', 'value': '3.83'},
  {'date': '2022-11-22', 'value': '3.83'},
  {'date': '2022-11-21', 'value': '3.83'},
  {'date': '2022-11-20', 'value': '3.83'},
  {'date': '2022-11-19', 'value': '3.83'},
  {'date': '2022-11-18', 'value': '3.83'},
  {'date': '2022-11-17', 'value': '3.83'},
  {'date': '2022-11-16', 'value': '3.83'},
  {'date': '2022-11-15', 'value': '3.83'},
  {'date': '2022-11-14', 'value': '3.83'},
  {'date': '2022-11-13', 'value': '3.83'},
  {'date': '2022-11-12', 'value': '3.83'},
  {'date': '2022-11-11', 'value': '3.83'},
  {'date': '2022-11-10', 'value': '3.83'},
  {'date': '2022-11-09', 'value': '3.83'},
  {'date': '2022-11-08', 'value': '3.83'},
  {'date': '2022-11-07', 'value': '3.83'},
  {'date': '2022-11-06', 'value': '3.83'},
  {'date': '2022-11-05', 'value': '3.83'},
  {'date': '2022-11-04', 'value': '3.83'},
  {'date': '2022-11-03', 'value': '3.83'},
  {'date': '2022-11-02', 'value': '3.08'},
  {'date': '2022-11-01', 'value': '3.08'},
  {'date': '2022-10-31', 'value': '3.08'},
  {'date': '2022-10-30', 'value': '3.08'},
  {'date': '2022-10-29', 'value': '3.08'},
  {'date': '2022-10-28', 'value': '3.08'},
  {'date': '2022-10-27', 'value': '3.08'},
  {'date': '2022-10-26', 'value': '3.08'},
  {'date': '2022-10-25', 'value': '3.08'},
  {'date': '2022-10-24', 'value': '3.08'},
  {'date': '2022-10-23', 'value': '3.08'},
  {'date': '2022-10-22', 'value': '3.08'},
  {'date': '2022-10-21', 'value': '3.08'},
  {'date': '2022-10-20', 'value': '3.08'},
  {'date': '2022-10-19', 'value': '3.08'},
  {'date': '2022-10-18', 'value': '3.08'},
  {'date': '2022-10-17', 'value': '3.08'},
  {'date': '2022-10-16', 'value': '3.08'},
  {'date': '2022-10-15', 'value': '3.08'},
  {'date': '2022-10-14', 'value': '3.08'},
  {'date': '2022-10-13', 'value': '3.08'},
  {'date': '2022-10-12', 'value': '3.08'},
  {'date': '2022-10-11', 'value': '3.08'},
  {'date': '2022-10-10', 'value': '3.08'},
  {'date': '2022-10-09', 'value': '3.08'},
  {'date': '2022-10-08', 'value': '3.08'},
  {'date': '2022-10-07', 'value': '3.08'},
  {'date': '2022-10-06', 'value': '3.08'},
  {'date': '2022-10-05', 'value': '3.08'},
  {'date': '2022-10-04', 'value': '3.08'},
  {'date': '2022-10-03', 'value': '3.08'},
  {'date': '2022-10-02', 'value': '3.08'},
  {'date': '2022-10-01', 'value': '3.08'},
  {'date': '2022-09-30', 'value': '3.08'},
  {'date': '2022-09-29', 'value': '3.08'},
  {'date': '2022-09-28', 'value': '3.08'},
  {'date': '2022-09-27', 'value': '3.08'},
  {'date': '2022-09-26', 'value': '3.08'},
  {'date': '2022-09-25', 'value': '3.08'},
  {'date': '2022-09-24', 'value': '3.08'},
  {'date': '2022-09-23', 'value': '3.08'},
  {'date': '2022-09-22', 'value': '3.08'},
  {'date': '2022-09-21', 'value': '2.33'},
  {'date': '2022-09-20', 'value': '2.33'},
  {'date': '2022-09-19', 'value': '2.33'},
  {'date': '2022-09-18', 'value': '2.33'},
  {'date': '2022-09-17', 'value': '2.33'},
  {'date': '2022-09-16', 'value': '2.33'},
  {'date': '2022-09-15', 'value': '2.33'},
  {'date': '2022-09-14', 'value': '2.33'},
  {'date': '2022-09-13', 'value': '2.33'},
  {'date': '2022-09-12', 'value': '2.33'},
  {'date': '2022-09-11', 'value': '2.33'},
  {'date': '2022-09-10', 'value': '2.33'},
  {'date': '2022-09-09', 'value': '2.33'},
  {'date': '2022-09-08', 'value': '2.33'},
  {'date': '2022-09-07', 'value': '2.33'},
  {'date': '2022-09-06', 'value': '2.33'},
  {'date': '2022-09-05', 'value': '2.33'},
  {'date': '2022-09-04', 'value': '2.33'},
  {'date': '2022-09-03', 'value': '2.33'},
  {'date': '2022-09-02', 'value': '2.33'},
  {'date': '2022-09-01', 'value': '2.33'},
  {'date': '2022-08-31', 'value': '2.33'},
  {'date': '2022-08-30', 'value': '2.33'},
  {'date': '2022-08-29', 'value': '2.33'},
  {'date': '2022-08-28', 'value': '2.33'},
  {'date': '2022-08-27', 'value': '2.33'},
  {'date': '2022-08-26', 'value': '2.33'},
  {'date': '2022-08-25', 'value': '2.33'},
  {'date': '2022-08-24', 'value': '2.33'},
  {'date': '2022-08-23', 'value': '2.33'},
  {'date': '2022-08-22', 'value': '2.33'},
  {'date': '2022-08-21', 'value': '2.33'},
  {'date': '2022-08-20', 'value': '2.33'},
  {'date': '2022-08-19', 'value': '2.33'},
  {'date': '2022-08-18', 'value': '2.33'},
  {'date': '2022-08-17', 'value': '2.33'},
  {'date': '2022-08-16', 'value': '2.33'},
  {'date': '2022-08-15', 'value': '2.33'},
  {'date': '2022-08-14', 'value': '2.33'},
  {'date': '2022-08-13', 'value': '2.33'},
  {'date': '2022-08-12', 'value': '2.33'},
  {'date': '2022-08-11', 'value': '2.33'},
  {'date': '2022-08-10', 'value': '2.33'},
  {'date': '2022-08-09', 'value': '2.33'},
  {'date': '2022-08-08', 'value': '2.33'},
  {'date': '2022-08-07', 'value': '2.33'},
  {'date': '2022-08-06', 'value': '2.33'},
  {'date': '2022-08-05', 'value': '2.33'},
  {'date': '2022-08-04', 'value': '2.33'},
  {'date': '2022-08-03', 'value': '2.33'},
  {'date': '2022-08-02', 'value': '2.33'},
  {'date': '2022-08-01', 'value': '2.33'},
  {'date': '2022-07-31', 'value': '2.32'},
  {'date': '2022-07-30', 'value': '2.32'},
  {'date': '2022-07-29', 'value': '2.32'},
  {'date': '2022-07-28', 'value': '2.33'},
  {'date': '2022-07-27', 'value': '1.58'},
  {'date': '2022-07-26', 'value': '1.58'},
  {'date': '2022-07-25', 'value': '1.58'},
  {'date': '2022-07-24', 'value': '1.58'},
  {'date': '2022-07-23', 'value': '1.58'},
  {'date': '2022-07-22', 'value': '1.58'},
  {'date': '2022-07-21', 'value': '1.58'},
  {'date': '2022-07-20', 'value': '1.58'},
  {'date': '2022-07-19', 'value': '1.58'},
  {'date': '2022-07-18', 'value': '1.58'},
  {'date': '2022-07-17', 'value': '1.58'},
  {'date': '2022-07-16', 'value': '1.58'},
  {'date': '2022-07-15', 'value': '1.58'},
  {'date': '2022-07-14', 'value': '1.58'},
  {'date': '2022-07-13', 'value': '1.58'},
  {'date': '2022-07-12', 'value': '1.58'},
  {'date': '2022-07-11', 'value': '1.58'},
  {'date': '2022-07-10', 'value': '1.58'},
  {'date': '2022-07-09', 'value': '1.58'},
  {'date': '2022-07-08', 'value': '1.58'},
  {'date': '2022-07-07', 'value': '1.58'},
  {'date': '2022-07-06', 'value': '1.58'},
  {'date': '2022-07-05', 'value': '1.58'},
  {'date': '2022-07-04', 'value': '1.58'},
  {'date': '2022-07-03', 'value': '1.58'},
  {'date': '2022-07-02', 'value': '1.58'},
  {'date': '2022-07-01', 'value': '1.58'},
  {'date': '2022-06-30', 'value': '1.58'},
  {'date': '2022-06-29', 'value': '1.58'},
  {'date': '2022-06-28', 'value': '1.58'},
  {'date': '2022-06-27', 'value': '1.58'},
  {'date': '2022-06-26', 'value': '1.58'},
  {'date': '2022-06-25', 'value': '1.58'},
  {'date': '2022-06-24', 'value': '1.58'},
  {'date': '2022-06-23', 'value': '1.58'},
  {'date': '2022-06-22', 'value': '1.58'},
  {'date': '2022-06-21', 'value': '1.58'},
  {'date': '2022-06-20', 'value': '1.58'},
  {'date': '2022-06-19', 'value': '1.58'},
  {'date': '2022-06-18', 'value': '1.58'},
  {'date': '2022-06-17', 'value': '1.58'},
  {'date': '2022-06-16', 'value': '1.58'},
  {'date': '2022-06-15', 'value': '0.83'},
  {'date': '2022-06-14', 'value': '0.83'},
  {'date': '2022-06-13', 'value': '0.83'},
  {'date': '2022-06-12', 'value': '0.83'},
  {'date': '2022-06-11', 'value': '0.83'},
  {'date': '2022-06-10', 'value': '0.83'},
  {'date': '2022-06-09', 'value': '0.83'},
  {'date': '2022-06-08', 'value': '0.83'},
  {'date': '2022-06-07', 'value': '0.83'},
  {'date': '2022-06-06', 'value': '0.83'},
  {'date': '2022-06-05', 'value': '0.83'},
  {'date': '2022-06-04', 'value': '0.83'},
  {'date': '2022-06-03', 'value': '0.83'},
  {'date': '2022-06-02', 'value': '0.83'},
  {'date': '2022-06-01', 'value': '0.83'},
  {'date': '2022-05-31', 'value': '0.83'},
  {'date': '2022-05-30', 'value': '0.83'},
  {'date': '2022-05-29', 'value': '0.83'},
  {'date': '2022-05-28', 'value': '0.83'},
  {'date': '2022-05-27', 'value': '0.83'},
  {'date': '2022-05-26', 'value': '0.83'},
  {'date': '2022-05-25', 'value': '0.83'},
  {'date': '2022-05-24', 'value': '0.83'},
  {'date': '2022-05-23', 'value': '0.83'},
  {'date': '2022-05-22', 'value': '0.83'},
  {'date': '2022-05-21', 'value': '0.83'},
  {'date': '2022-05-20', 'value': '0.83'},
  {'date': '2022-05-19', 'value': '0.83'},
  {'date': '2022-05-18', 'value': '0.83'},
  {'date': '2022-05-17', 'value': '0.83'},
  {'date': '2022-05-16', 'value': '0.83'},
  {'date': '2022-05-15', 'value': '0.83'},
  {'date': '2022-05-14', 'value': '0.83'},
  {'date': '2022-05-13', 'value': '0.83'},
  {'date': '2022-05-12', 'value': '0.83'},
  {'date': '2022-05-11', 'value': '0.83'},
  {'date': '2022-05-10', 'value': '0.83'},
  {'date': '2022-05-09', 'value': '0.83'},
  {'date': '2022-05-08', 'value': '0.83'},
  {'date': '2022-05-07', 'value': '0.83'},
  {'date': '2022-05-06', 'value': '0.83'},
  {'date': '2022-05-05', 'value': '0.83'},
  {'date': '2022-05-04', 'value': '0.33'},
  {'date': '2022-05-03', 'value': '0.33'},
  {'date': '2022-05-02', 'value': '0.33'},
  {'date': '2022-05-01', 'value': '0.33'},
  {'date': '2022-04-30', 'value': '0.33'},
  {'date': '2022-04-29', 'value': '0.33'},
  {'date': '2022-04-28', 'value': '0.33'},
  {'date': '2022-04-27', 'value': '0.33'},
  {'date': '2022-04-26', 'value': '0.33'},
  {'date': '2022-04-25', 'value': '0.33'},
  {'date': '2022-04-24', 'value': '0.33'},
  {'date': '2022-04-23', 'value': '0.33'},
  {'date': '2022-04-22', 'value': '0.33'},
  {'date': '2022-04-21', 'value': '0.33'},
  {'date': '2022-04-20', 'value': '0.33'},
  {'date': '2022-04-19', 'value': '0.33'},
  {'date': '2022-04-18', 'value': '0.33'},
  {'date': '2022-04-17', 'value': '0.33'},
  {'date': '2022-04-16', 'value': '0.33'},
  {'date': '2022-04-15', 'value': '0.33'},
  {'date': '2022-04-14', 'value': '0.33'},
  {'date': '2022-04-13', 'value': '0.33'},
  {'date': '2022-04-12', 'value': '0.33'},
  {'date': '2022-04-11', 'value': '0.33'},
  {'date': '2022-04-10', 'value': '0.33'},
  {'date': '2022-04-09', 'value': '0.33'},
  {'date': '2022-04-08', 'value': '0.33'},
  {'date': '2022-04-07', 'value': '0.33'},
  {'date': '2022-04-06', 'value': '0.33'},
  {'date': '2022-04-05', 'value': '0.33'},
  {'date': '2022-04-04', 'value': '0.33'},
  {'date': '2022-04-03', 'value': '0.33'},
  {'date': '2022-04-02', 'value': '0.33'},
  {'date': '2022-04-01', 'value': '0.33'},
  {'date': '2022-03-31', 'value': '0.33'},
  {'date': '2022-03-30', 'value': '0.33'},
  {'date': '2022-03-29', 'value': '0.33'},
  {'date': '2022-03-28', 'value': '0.33'},
  {'date': '2022-03-27', 'value': '0.33'},
  {'date': '2022-03-26', 'value': '0.33'},
  {'date': '2022-03-25', 'value': '0.33'},
  {'date': '2022-03-24', 'value': '0.33'},
  {'date': '2022-03-23', 'value': '0.33'},
  {'date': '2022-03-22', 'value': '0.33'},
  {'date': '2022-03-21', 'value': '0.33'},
  {'date': '2022-03-20', 'value': '0.33'},
  {'date': '2022-03-19', 'value': '0.33'},
  {'date': '2022-03-18', 'value': '0.33'},
  {'date': '2022-03-17', 'value': '0.33'},
  {'date': '2022-03-16', 'value': '0.08'},
  {'date': '2022-03-15', 'value': '0.08'},
  {'date': '2022-03-14', 'value': '0.08'},
  {'date': '2022-03-13', 'value': '0.08'},
  {'date': '2022-03-12', 'value': '0.08'},
  {'date': '2022-03-11', 'value': '0.08'},
  {'date': '2022-03-10', 'value': '0.08'},
  {'date': '2022-03-09', 'value': '0.08'},
  {'date': '2022-03-08', 'value': '0.08'},
  {'date': '2022-03-07', 'value': '0.08'},
  {'date': '2022-03-06', 'value': '0.08'},
  {'date': '2022-03-05', 'value': '0.08'},
  {'date': '2022-03-04', 'value': '0.08'},
  {'date': '2022-03-03', 'value': '0.08'},
  {'date': '2022-03-02', 'value': '0.08'},

In [4]:
import pandas as pd
import json
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data_str = r.text

# Parse the string into a dictionary
data = json.loads(data_str)

df_interest = pd.DataFrame(data['data'])
df_interest.rename(columns={'date': 'Date'}, inplace=True)
df_interest.rename(columns={'value': 'Interest'}, inplace=True)
# Convert 'Date' column to datetime format
df_interest['Date'] = pd.to_datetime(df_interest['Date'])

# Filter the DataFrame
df_interest = df_interest[df_interest['Date'] >= '2018-06-12']
df_interest = df_interest.sort_values(by='Date',ascending=True)
# Convert 'Interest' column to numeric
df_interest['Interest'] = pd.to_numeric(df_interest['Interest'], errors='coerce')
df_interest['Interest'] = df_interest['Interest'] / 100
df_interest.reset_index(drop=True, inplace=True)
df_interest

           Date  Interest
0    2018-06-12    0.0170
1    2018-06-13    0.0170
2    2018-06-14    0.0190
3    2018-06-15    0.0190
4    2018-06-16    0.0190
...         ...       ...
1817 2023-06-03    0.0508
1818 2023-06-04    0.0508
1819 2023-06-05    0.0508
1820 2023-06-06    0.0508
1821 2023-06-07    0.0508

[1822 rows x 2 columns]

In [5]:
import pandas as pd

# Convert the 'Date' column in df_interest to datetime data type
df_interest['Date'] = pd.to_datetime(df_interest['Date'])
# Convert the 'Date' column in df_CPI to datetime data type
df_CPI['Date'] = pd.to_datetime(df_CPI['Date'])

# Perform the merge
df_interest_cpi = df_interest.merge(df_CPI, on='Date', how='left')
df_interest_cpi

           Date  Interest  CPI
0    2018-06-12    0.0170  NaN
1    2018-06-13    0.0170  NaN
2    2018-06-14    0.0190  NaN
3    2018-06-15    0.0190  NaN
4    2018-06-16    0.0190  NaN
...         ...       ...  ...
1817 2023-06-03    0.0508  NaN
1818 2023-06-04    0.0508  NaN
1819 2023-06-05    0.0508  NaN
1820 2023-06-06    0.0508  NaN
1821 2023-06-07    0.0508  NaN

[1822 rows x 3 columns]

COMPANY OVERVIEW (JUST CURRENT YEAR)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol=AAPL&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)"""

INCOME STATEMENT (JUST FROM 2018)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol=AAPL&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)
"""

BALANCE SHEET (JUST FROM 2018)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol=AAPL&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)
"""

CASH FLOW (JUST FROM 2018)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=CASH_FLOW&symbol=AAPL&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)
"""

EARNINGS (FOR ALL DATA WE REQUIRE)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=AAPL&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)
"""

DURABLE GOODS ORDERS (FOR ALL DATA WE REQUIRE)

In [ ]:
"""
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=DURABLES&apikey=WIB4EPEUDA7KJFOG'
r = requests.get(url)
data = r.json()

print(data)
"""

In [6]:
import pandas as pd

# Specify the file path of the CSV file
csv_file_path = '/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/AAPL_Financials.csv'

# Read the CSV file using pandas
aapl_finances_df = pd.read_csv(csv_file_path)

# Print the DataFrame
aapl_finances_df

,Dates,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2023-03-31,"$94,836","$24,160",29.16%,$1.52
1,2022-12-31,"$117,154","$29,998",29.41%,$1.88
2,2022-09-30,"$90,146","$20,721",30.29%,$1.29
3,2022-06-30,"$82,959","$19,442",30.53%,$1.20
4,2022-03-31,"$97,278","$25,010",30.93%,$1.52
5,2021-12-31,"$123,945","$34,630",30.90%,$2.10
6,2021-09-30,"$83,360","$20,551",29.78%,$1.23
7,2021-06-30,"$81,434","$21,744",28.79%,$1.30
8,2021-03-31,"$89,584","$23,630",27.32%,$1.40
9,2020-12-31,"$111,439","$28,755",25.24%,$1.68
10,2020-09-30,"$64,698","$12,673",24.15%,$0.74
11,2020-06-30,"$59,685","$11,253",24.52%,$0.65
12,2020-03-31,"$58,313","$11,249",24.48%,$0.64
13,2019-12-31,"$91,819","$22,236",24.71%,$1.25
14,2019-09-30,"$64,040","$13,686",24.57%,$0.77
15,2019-06-30,"$53,809","$10,044",24.87%,$0.55
16,2019-03-31,"$58,015","$11,561",25.34%,$0.62
17,2018-12-31,"$84,310","$19,965",25.98%,$1.05
18,2018-09-30,"$62,900","$14,125",26.69%,$0.74
19,2018-06-30,"$53,265","$11,519",26.60%,$0.59
20,2018-03-31,"$61,137","$13,822",26.70%,$0.68
21,2017-12-31,"$88,293","$20,065",26.87%,$0.97
22,2017-09-30,"$52,579","$10,714",26.76%,$0.52
23,2017-06-30,"$45,408","$8,717",26.84%,$0.42
24,2017-03-31,"$52,896","$11,029",26.91%,$0.53
25,2016-12-31,"$78,351","$17,891",27.15%,$0.84
26,2016-09-30,"$46,852","$9,014",27.84%,$0.43
27,2016-06-30,"$42,358","$7,796",28.55%,$0.36
28,2016-03-31,"$50,557","$10,516",29.39%,$0.48
29,2015-12-31,"$75,872","$18,361",30.28%,$0.82
30,2015-09-30,"$51,501","$11,124",30.48%,$0.50
31,2015-06-30,"$49,605","$10,677",30.21%,$0.46
32,2015-03-31,"$58,010","$13,569",30.15%,$0.58
33,2014-12-31,"$74,599","$18,024",29.67%,$0.77
34,2014-09-30,"$42,123","$8,467",28.72%,$0.36
35,2014-06-30,"$37,432","$7,748",28.84%,$0.32
36,2014-03-31,"$45,646","$10,223",28.57%,$0.42
37,2013-12-31,"$57,594","$13,072",28.31%,$0.52
38,2013-09-30,"$37,472","$7,512",28.67%,$0.30
39,2013-06-30,"$35,323","$6,900",29.46%,$0.27
40,2013-03-31,"$43,603","$9,547",30.92%,$0.36
41,2012-12-31,"$54,512","$13,078",33.46%,$0.49
42,2012-09-30,"$35,966","$8,223",35.30%,$0.31
43,2012-06-30,"$35,023","$8,824",35.62%,$0.33
44,2012-03-31,"$39,186","$11,622",35.69%,$0.44
45,2011-12-31,"$46,333","$13,064",33.87%,$0.50
46,2011-09-30,"$28,270","$6,623",31.22%,$0.25
47,2011-06-30,"$28,571","$7,308",30.43%,$0.28
48,2011-03-31,"$24,667","$5,987",29.02%,$0.23
49,2010-12-31,"$26,741","$6,004",28.17%,$0.23
50,2010-09-30,"$20,343","$4,308",28.19%,$0.17
51,2010-06-30,"$15,700","$3,253",29.12%,$0.13
52,2010-03-31,"$13,499","$3,074",29.38%,$0.12
53,2009-12-31,"$15,683","$3,378",28.61%,$0.13
54,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN

In [7]:
#12th junen 2018
aapl_finances_df = aapl_finances_df.drop(aapl_finances_df[aapl_finances_df.index > 19].index)
aapl_finances_df

,Dates,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2023-03-31,"$94,836","$24,160",29.16%,$1.52
1,2022-12-31,"$117,154","$29,998",29.41%,$1.88
2,2022-09-30,"$90,146","$20,721",30.29%,$1.29
3,2022-06-30,"$82,959","$19,442",30.53%,$1.20
4,2022-03-31,"$97,278","$25,010",30.93%,$1.52
5,2021-12-31,"$123,945","$34,630",30.90%,$2.10
6,2021-09-30,"$83,360","$20,551",29.78%,$1.23
7,2021-06-30,"$81,434","$21,744",28.79%,$1.30
8,2021-03-31,"$89,584","$23,630",27.32%,$1.40
9,2020-12-31,"$111,439","$28,755",25.24%,$1.68
10,2020-09-30,"$64,698","$12,673",24.15%,$0.74
11,2020-06-30,"$59,685","$11,253",24.52%,$0.65
12,2020-03-31,"$58,313","$11,249",24.48%,$0.64
13,2019-12-31,"$91,819","$22,236",24.71%,$1.25
14,2019-09-30,"$64,040","$13,686",24.57%,$0.77
15,2019-06-30,"$53,809","$10,044",24.87%,$0.55
16,2019-03-31,"$58,015","$11,561",25.34%,$0.62
17,2018-12-31,"$84,310","$19,965",25.98%,$1.05
18,2018-09-30,"$62,900","$14,125",26.69%,$0.74
19,2018-06-30,"$53,265","$11,519",26.60%,$0.59

In [8]:
aapl_finances_df['Apple Quarterly Revenue\n(Millions of US $)'] = aapl_finances_df['Apple Quarterly Revenue\n(Millions of US $)'].str.replace('$', '')
aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'] = aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'].str.replace('$', '')
aapl_finances_df['Apple Quarterly EPS'] = aapl_finances_df['Apple Quarterly EPS'].str.replace('$','')
aapl_finances_df['Apple Quarterly Operating Margin'] = aapl_finances_df['Apple Quarterly Operating Margin'].str.replace('%','')
# Convert the column to numeric type
aapl_finances_df['Apple Quarterly Operating Margin'] = pd.to_numeric(aapl_finances_df['Apple Quarterly Operating Margin'], errors='coerce')
aapl_finances_df['Apple Quarterly Operating Margin'] = aapl_finances_df['Apple Quarterly Operating Margin'] / 100
aapl_finances_df

,Dates,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2023-03-31,"94,836","24,160",0.2916,1.52
1,2022-12-31,"117,154","29,998",0.2941,1.88
2,2022-09-30,"90,146","20,721",0.3029,1.29
3,2022-06-30,"82,959","19,442",0.3053,1.20
4,2022-03-31,"97,278","25,010",0.3093,1.52
5,2021-12-31,"123,945","34,630",0.3090,2.10
6,2021-09-30,"83,360","20,551",0.2978,1.23
7,2021-06-30,"81,434","21,744",0.2879,1.30
8,2021-03-31,"89,584","23,630",0.2732,1.40
9,2020-12-31,"111,439","28,755",0.2524,1.68
10,2020-09-30,"64,698","12,673",0.2415,0.74
11,2020-06-30,"59,685","11,253",0.2452,0.65
12,2020-03-31,"58,313","11,249",0.2448,0.64
13,2019-12-31,"91,819","22,236",0.2471,1.25
14,2019-09-30,"64,040","13,686",0.2457,0.77
15,2019-06-30,"53,809","10,044",0.2487,0.55
16,2019-03-31,"58,015","11,561",0.2534,0.62
17,2018-12-31,"84,310","19,965",0.2598,1.05
18,2018-09-30,"62,900","14,125",0.2669,0.74
19,2018-06-30,"53,265","11,519",0.2660,0.59

In [9]:
aapl_finances_df['Apple Quarterly Revenue\n(Millions of US $)'] = aapl_finances_df['Apple Quarterly Revenue\n(Millions of US $)'].str.replace(',', '.')
aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'] = aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'].str.replace(',', '.')
aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'] = aapl_finances_df['Apple Quarterly Net Income\n(Millions of US $)'].str.replace(',', '.')
aapl_finances_df=aapl_finances_df.sort_values(by='Dates',ascending=True)
aapl_finances_df.reset_index(drop=True, inplace=True)
aapl_finances_df.rename(columns={'Dates': 'Date'}, inplace=True)
aapl_finances_df

,Date,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-30,53.265,11.519,0.2660,0.59
1,2018-09-30,62.900,14.125,0.2669,0.74
2,2018-12-31,84.310,19.965,0.2598,1.05
3,2019-03-31,58.015,11.561,0.2534,0.62
4,2019-06-30,53.809,10.044,0.2487,0.55
5,2019-09-30,64.040,13.686,0.2457,0.77
6,2019-12-31,91.819,22.236,0.2471,1.25
7,2020-03-31,58.313,11.249,0.2448,0.64
8,2020-06-30,59.685,11.253,0.2452,0.65
9,2020-09-30,64.698,12.673,0.2415,0.74
10,2020-12-31,111.439,28.755,0.2524,1.68
11,2021-03-31,89.584,23.630,0.2732,1.40
12,2021-06-30,81.434,21.744,0.2879,1.30
13,2021-09-30,83.360,20.551,0.2978,1.23
14,2021-12-31,123.945,34.630,0.3090,2.10
15,2022-03-31,97.278,25.010,0.3093,1.52
16,2022-06-30,82.959,19.442,0.3053,1.20
17,2022-09-30,90.146,20.721,0.3029,1.29
18,2022-12-31,117.154,29.998,0.2941,1.88
19,2023-03-31,94.836,24.160,0.2916,1.52

In [10]:
aapl_finances_df.to_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/AAPL_financials_df.csv', index=False)

In [11]:
aapl_finances_df = pd.read_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/AAPL_financials_df_2.csv')
aapl_finances_df

,Date,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-29,53.265,11.519,0.2660,0.59
1,2018-09-28,62.900,14.125,0.2669,0.74
2,2018-12-31,84.310,19.965,0.2598,1.05
3,2019-03-29,58.015,11.561,0.2534,0.62
4,2019-06-28,53.809,10.044,0.2487,0.55
5,2019-09-30,64.040,13.686,0.2457,0.77
6,2019-12-31,91.819,22.236,0.2471,1.25
7,2020-03-31,58.313,11.249,0.2448,0.64
8,2020-06-30,59.685,11.253,0.2452,0.65
9,2020-09-30,64.698,12.673,0.2415,0.74
10,2020-12-31,111.439,28.755,0.2524,1.68
11,2021-03-31,89.584,23.630,0.2732,1.40
12,2021-06-30,81.434,21.744,0.2879,1.30
13,2021-09-30,83.360,20.551,0.2978,1.23
14,2021-12-31,123.945,34.630,0.3090,2.10
15,2022-03-31,97.278,25.010,0.3093,1.52
16,2022-06-30,82.959,19.442,0.3053,1.20
17,2022-09-30,90.146,20.721,0.3029,1.29
18,2022-12-30,117.154,29.998,0.2941,1.88
19,2023-03-31,94.836,24.160,0.2916,1.52

In [12]:
df_EPS=pd.DataFrame(aapl_finances_df[['Date', 'Apple Quarterly EPS']])
df_EPS

          Date  Apple Quarterly EPS
0   2018-06-29                 0.59
1   2018-09-28                 0.74
2   2018-12-31                 1.05
3   2019-03-29                 0.62
4   2019-06-28                 0.55
5   2019-09-30                 0.77
6   2019-12-31                 1.25
7   2020-03-31                 0.64
8   2020-06-30                 0.65
9   2020-09-30                 0.74
10  2020-12-31                 1.68
11  2021-03-31                 1.40
12  2021-06-30                 1.30
13  2021-09-30                 1.23
14  2021-12-31                 2.10
15  2022-03-31                 1.52
16  2022-06-30                 1.20
17  2022-09-30                 1.29
18  2022-12-30                 1.88
19  2023-03-31                 1.52

In [13]:
import yfinance as yf

In [14]:
data= yf.download("AAPL","2018-06-12","2023-06-07")
close_df= pd.DataFrame(data['Close'])
close_df = close_df.sort_values(by='Date',ascending=True)
close_df.reset_index(drop=False, inplace=True)
close_df

[*********************100%***********************]  1 of 1 completed

           Date       Close
0    2018-06-12   48.070000
1    2018-06-13   47.674999
2    2018-06-14   47.700001
3    2018-06-15   47.209999
4    2018-06-18   47.185001
...         ...         ...
1250 2023-05-31  177.250000
1251 2023-06-01  180.089996
1252 2023-06-02  180.949997
1253 2023-06-05  179.580002
1254 2023-06-06  179.210007

[1255 rows x 2 columns]

In [15]:
# Convert "Date" column to datetime in df_new
close_df['Date'] = pd.to_datetime(close_df['Date'])

# Convert "Date" column to datetime in df_EPS
df_EPS['Date'] = pd.to_datetime(df_EPS['Date'])

# Merge df_EPS onto df_new using left merge
merged_financial_df = close_df.merge(df_EPS, on='Date', how='left')

merged_financial_df

           Date       Close  Apple Quarterly EPS
0    2018-06-12   48.070000                  NaN
1    2018-06-13   47.674999                  NaN
2    2018-06-14   47.700001                  NaN
3    2018-06-15   47.209999                  NaN
4    2018-06-18   47.185001                  NaN
...         ...         ...                  ...
1250 2023-05-31  177.250000                  NaN
1251 2023-06-01  180.089996                  NaN
1252 2023-06-02  180.949997                  NaN
1253 2023-06-05  179.580002                  NaN
1254 2023-06-06  179.210007                  NaN

[1255 rows x 3 columns]

In [16]:
merged_financial_df.to_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/output.csv', index=False)
merged_financial_df = pd.read_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/output_2.csv')

In [17]:
merged_financial_df

            Date       Close   EPS         PE
0            NaN         NaN  0.52        NaN
1            NaN         NaN  0.97        NaN
2            NaN         NaN  0.68        NaN
3     2018-06-12   48.070000  2.98   9.333981
4     2018-06-13   47.674999  2.98   9.257281
...          ...         ...   ...        ...
1253  2023-05-31  177.250000  1.52  30.093379
1254  2023-06-01  180.089996  1.52  30.575551
1255  2023-06-02  180.949997  1.52  30.721561
1256  2023-06-05  179.580002  1.52  30.488965
1257  2023-06-06  179.210007  1.52  30.426147

[1258 rows x 4 columns]

In [18]:
merged_financial_df=merged_financial_df.drop(merged_financial_df[merged_financial_df.index < 3].index)
merged_financial_df.reset_index(drop=True, inplace=True)
merged_financial_df

            Date       Close   EPS         PE
0     2018-06-12   48.070000  2.98   9.333981
1     2018-06-13   47.674999  2.98   9.257281
2     2018-06-14   47.700001  2.98   9.262136
3     2018-06-15   47.209999  2.98   9.166990
4     2018-06-18   47.185001  2.98   9.162136
...          ...         ...   ...        ...
1250  2023-05-31  177.250000  1.52  30.093379
1251  2023-06-01  180.089996  1.52  30.575551
1252  2023-06-02  180.949997  1.52  30.721561
1253  2023-06-05  179.580002  1.52  30.488965
1254  2023-06-06  179.210007  1.52  30.426147

[1255 rows x 4 columns]

In [19]:
merged_financial_df.drop('EPS', axis=1, inplace=True)
merged_financial_df

            Date       Close         PE
0     2018-06-12   48.070000   9.333981
1     2018-06-13   47.674999   9.257281
2     2018-06-14   47.700001   9.262136
3     2018-06-15   47.209999   9.166990
4     2018-06-18   47.185001   9.162136
...          ...         ...        ...
1250  2023-05-31  177.250000  30.093379
1251  2023-06-01  180.089996  30.575551
1252  2023-06-02  180.949997  30.721561
1253  2023-06-05  179.580002  30.488965
1254  2023-06-06  179.210007  30.426147

[1255 rows x 3 columns]

In [20]:
merged_financial_df = merged_financial_df.merge(aapl_finances_df, on='Date', how='left')

In [21]:
merged_financial_df

,Date,Close,PE,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-12,48.070000,9.333981,NaN,NaN,NaN,NaN
1,2018-06-13,47.674999,9.257281,NaN,NaN,NaN,NaN
2,2018-06-14,47.700001,9.262136,NaN,NaN,NaN,NaN
3,2018-06-15,47.209999,9.166990,NaN,NaN,NaN,NaN
4,2018-06-18,47.185001,9.162136,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1250,2023-05-31,177.250000,30.093379,NaN,NaN,NaN,NaN
1251,2023-06-01,180.089996,30.575551,NaN,NaN,NaN,NaN
1252,2023-06-02,180.949997,30.721561,NaN,NaN,NaN,NaN
1253,2023-06-05,179.580002,30.488965,NaN,NaN,NaN,NaN
1254,2023-06-06,179.210007,30.426147,NaN,NaN,NaN,NaN

In [22]:
df_interest_cpi['Date'] = pd.to_datetime(df_interest_cpi['Date'])
merged_financial_df['Date'] = pd.to_datetime(merged_financial_df['Date'])


df_final = df_interest_cpi.merge(merged_financial_df, on='Date', how='left')
df_final

,Date,Interest,CPI,Close,PE,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-12,0.0170,NaN,48.070000,9.333981,NaN,NaN,NaN,NaN
1,2018-06-13,0.0170,NaN,47.674999,9.257281,NaN,NaN,NaN,NaN
2,2018-06-14,0.0190,NaN,47.700001,9.262136,NaN,NaN,NaN,NaN
3,2018-06-15,0.0190,NaN,47.209999,9.166990,NaN,NaN,NaN,NaN
4,2018-06-16,0.0190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1817,2023-06-03,0.0508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1818,2023-06-04,0.0508,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1819,2023-06-05,0.0508,NaN,179.580002,30.488965,NaN,NaN,NaN,NaN
1820,2023-06-06,0.0508,NaN,179.210007,30.426147,NaN,NaN,NaN,NaN
1821,2023-06-07,0.0508,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_final.to_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/df_final.csv', index=False)

In [24]:
df_final = pd.read_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/df_final_2.csv')
df_final

,Date,Interest,CPI,Close,PE,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-12,0.0170,251.989,48.070000,9.333981,61.137,13.822,0.2670,0.68
1,2018-06-13,0.0170,251.989,47.674999,9.257281,61.137,13.822,0.2670,0.68
2,2018-06-14,0.0190,251.989,47.700001,9.262136,61.137,13.822,0.2670,0.68
3,2018-06-15,0.0190,251.989,47.209999,9.166990,61.137,13.822,0.2670,0.68
4,2018-06-16,0.0190,251.989,NaN,NaN,61.137,13.822,0.2670,0.68
...,...,...,...,...,...,...,...,...,...
1817,2023-06-03,0.0508,303.363,NaN,NaN,94.836,24.160,0.2916,1.52
1818,2023-06-04,0.0508,303.363,NaN,NaN,94.836,24.160,0.2916,1.52
1819,2023-06-05,0.0508,303.363,179.580002,30.488965,94.836,24.160,0.2916,1.52
1820,2023-06-06,0.0508,303.363,179.210007,30.426147,94.836,24.160,0.2916,1.52
1821,2023-06-07,0.0508,303.363,NaN,NaN,94.836,24.160,0.2916,1.52

In [25]:
df_final.dropna(subset=['Close', 'PE'], how='all', inplace=True)

In [26]:
df_final

,Date,Interest,CPI,Close,PE,Apple Quarterly Revenue\n(Millions of US $),Apple Quarterly Net Income\n(Millions of US $),Apple Quarterly Operating Margin,Apple Quarterly EPS
0,2018-06-12,0.0170,251.989,48.070000,9.333981,61.137,13.822,0.2670,0.68
1,2018-06-13,0.0170,251.989,47.674999,9.257281,61.137,13.822,0.2670,0.68
2,2018-06-14,0.0190,251.989,47.700001,9.262136,61.137,13.822,0.2670,0.68
3,2018-06-15,0.0190,251.989,47.209999,9.166990,61.137,13.822,0.2670,0.68
6,2018-06-18,0.0190,251.989,47.185001,9.162136,61.137,13.822,0.2670,0.68
...,...,...,...,...,...,...,...,...,...
1814,2023-05-31,0.0508,303.363,177.250000,30.093379,94.836,24.160,0.2916,1.52
1815,2023-06-01,0.0508,303.363,180.089996,30.575551,94.836,24.160,0.2916,1.52
1816,2023-06-02,0.0508,303.363,180.949997,30.721561,94.836,24.160,0.2916,1.52
1819,2023-06-05,0.0508,303.363,179.580002,30.488965,94.836,24.160,0.2916,1.52
1820,2023-06-06,0.0508,303.363,179.210007,30.426147,94.836,24.160,0.2916,1.52

In [27]:
df_final.to_csv('/Users/emanuelbayat/code/Fetyukovitch/SMA/raw_data/df_aapl_final.csv', index=False)

In [28]:
2018-02-09 2018-03-27 2018-07-12 2018-09-21 2018-10-26 2018-10-30 2018-11-07 2019-03-18 2019-03-19 2019-03-20 2019-05-21 2019-05-28 2019-07-09 2019-08-20 2019-09-20 2019-09-25 2019-10-30 2019-11-13 2019-12-10 2020-03-18 2020-04-24 2020-05-04 2020-08-04 2020-09-18 2020-10-23 2020-11-13 2020-11-16 2020-11-17 2020-12-15 2021-04-30 2021-05-21 2021-07-13 2021-09-24 2021-10-08 2021-10-26 2021-11-01 2022-03-18 2022-06-24 2022-07-15 2022-09-16 2022-09-23 2022-10-07 2022-10-26 2022-11-04 2023-01-24 2023-01-24 2023-01-24 2023-02-03